fastapi
uvicorn
python-multipart
requests
numpy
pandas
beautifulsoup4
scikit-learn
lxml
reportlab
llmwhisperer-client
weasyprint
xhtml2pdf
PyMuPDF
sqlalchemy
psycopg2-binary
alembic
passlib[bcrypt]
PyJWT
python-dotenv
psutil
nrel-pysam==7.1.1.post1
